--index-url https://download.pytorch.org/whl/cu121
--extra-index-url https://pypi.org/simple

torch==2.2.0+cu121
torchvision==0.17.0+cu121
torchaudio==2.2.0+cu121
torchmetrics==1.5.2
pystoi
pesq
numpy==1.26.4
imageio
scipy
soundfile
tqdm
matplotlib
pandas
wandb
comet_ml
hydra-core

black
isort
pre-commit
